body{
    margin: 0%;
    padding:0%;
}
.header{
    background-image: url('./img/oct2.png');
    color:beige;
    padding-bottom: 10px;
    padding-top: 20px;
}
.navbar{
    font-size: 20px;
    padding: 20px;
    position: fixed;
    right:20px;
    top:0px;
}
.logo{
    position: fixed;
    width: 100px;
    top:0px;
}
a{  
    text-decoration: none;
    color: rgb(249, 153, 138);
    margin-right: 60px; 
   
}
.nav:hover {
   color: rgb(248, 215, 210);;
}
h1{
    text-align: center;
}
.title{
    font-size:larger;
    color: #3E000C;
}
h3{
    text-align: center;
    padding-bottom: 30px;
}
#about{
    padding-top: 20px;
    background-color:#fff4ef;
    
}
.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.about{
    width:48%;
}
.h{
    padding-bottom: 20px;
}
.abc {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-top:50px; 
    padding:30px;
    
}
.left{
    width: 50%;
    padding-left : 30px;
    padding-right : 25px;
    text-align: center;
}
.right{
    width:40%;
    padding-left:80px;
}
.pic2{
    width:90%;
}
.text{
    text-align: center;
    margin:35px;

}
.pic3{
    margin-left:100px;
    width:40%;
    padding-bottom: 40px;
}
#events{
    background-color: #fff4ef;
    padding-top: 10px;
}
#one{
    background-color: #8390FA;
}
#two{
    background-color:#FAC748 ;
}
#three{
    background-color:#F88DAD ;
}
#contact-us{
    background-color: #AF9164;
    padding:10px;
   
}
#contact{
    display: flex;

}
input{
    margin:20px;
    padding:10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size:20px;
    text-align: center;
    border-radius: 5px;
    border-width: 3px;
}
.submit{
    background-color: #8390FA;
    border-radius: 15px;
}
.footer{
    background-color: black;
    color:whitesmoke;
    text-align: center;
    padding:20px;
}
.socialmedia{
    margin-left: 50px;
}
.four{
    font-size:25px;
     
}

